html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

.image-container {
    width: 100%;
    height: 30vh;
    position: relative;
}
.image-container .image {
    width: 100%;
    height: 100%;
    position: relative !important;
    object-fit: cover;
}

figcaption {
    font-size: small;
    text-align: center;
}

.login-section {
    min-height: 92vh;
}

.login-section .form-outline {
    min-width: 250px;
}

.login-section .form-group.input-group {
    justify-content: center;
}
.login-button {
    margin-bottom: 1em;
    min-width: 200px;
}

/* user profile */
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, 0.8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, 0.5);
    text-align: center;
    width: 30px;
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979;
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b !important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad !important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

.navbar {
    padding-bottom: 0;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    background: white;
}

.menu a {
    text-align: center;
}
.menu-txt {
    font-size: 11px;
}

ul.vote-lnk {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul.vote-lnk li {
    margin-right: 5px;
}

#error-message {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
}

.about {
    margin: 5em 0;
}

@media (min-width: 600px) {
    .about {
        margin: 0;
    }
}

.about {
    margin: 0;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .about {
        margin: 4em 0;
    }
}

#list {
    overflow: scroll;
    height: 30vh;
    word-break: break-all;
}
.element {
    padding: 15px;
    /* font-size: small; */
}

.element .txt {
    /* font-size: small; */
    margin-right: 1em;
}


.element .feature-icon {
    margin-right: 1em;
}
.feature-prop {
    word-break: break-all;
}

.checked {
    color: #ffa500;
    font-size: 21px;
    margin: 0 3px 0 0;
}

.unchecked {
    font-size: 21px;
    margin: 0 3px 0 0;
    color: darkgray;
}

a i.checked,
a i.unchecked {
    transition: all 0.3s ease;
}

a:hover i.checked,
a:hover i.unchecked {
    color: rebeccapurple;
    transform: scale(1.5);
}

.modal-dialog {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
}

.modal.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
    background: white;
    position: fixed;
    display: none;
    animation: slide-up 1s;
}

.modal.modal-fullscreen.show {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
    background: white;
    display: block;
    position: fixed;
}

.modal-dialog {
    max-width: 100%;
}

.modal-fullscreen .modal-body {
    background: white;
}
.modal-dialog-scrollable .modal-content {
    overflow: scroll;
}

@keyframes slide-up {
    from {
        top: 100vh;
    }
    to {
        top: 0;
    }
}

.autocomplete-container {
    z-index: 999;
    position: fixed;
    margin: auto;
    width: 60%;
    padding: 10px;
    left: 7em;
}

@media (max-width: 800px) {
    .autocomplete-container {
        width: 80%;
    }
}
.geoapify-autocomplete-items {
    overflow: scroll;
    height: 200px;
}

.autocomplete-container .geoapify-close-button.visible {
    right: 3em;
    width: 80%;
    max-width: 30em;
}

.fa-1-5x {
    font-size: 1.5em;
}

.form-control {
    padding: 0.129rem;
}

.osm-icon {
    color: red;
}
.local-icon {
    color: deeppink;
}

.logo {
    background: rgb(255, 201, 60);
    box-shadow: none;
    padding: 4em 3em;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .logo {
        padding: 1em;
    }
}

table thead th {
    color: rgba(74, 85, 104, 1);
    font-size: 15px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    text-align: left;
    text-transform: uppercase;
}

table td,
table th {
    border: 1px solid;
    border-color: rgba(226, 232, 240, 1);
    padding: 0.5em;
    overflow-wrap: anywhere;
}

table tbody tr:nth-child(odd) {
    background-color: rgba(237, 242, 247, 1);
}

.screen-size {
    position: fixed;
    z-index: 9999;
    background: darkgray;
    padding: 5px;
}

.beta-version {
    width: 230px;
    background: rgb(255, 201, 60);
    position: fixed;
    top: 50px;
    left: -60px;
    transform: rotate(-45deg);
    text-align: center;
    z-index: 9999;
}

.beta-version a:hover {
    text-decoration: none;
    color: red;
}

a.favorite {
    color: red;
    transition: all 0.3s ease;
    float: right;
}

a:hover.favorite i {
    color: rebeccapurple;
    transform: scale(1.5);
}

.my-position {
    color: #0d6efd;
    animation: pulse-animation 2s infinite;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}
.my-position .fa-circle {
    left: 3px;
    position: relative;
    top: 2px;
    font-size: larger;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}

.leaflet-bar.leaflet-control-fa-button.leaflet-control > a,
.leaflet-bar.leaflet-control-fa-button.leaflet-control > a:first-child,
.leaflet-bar.leaflet-control-fa-button.leaflet-control > a:last-child {
    margin: 1em;
    border-radius: 50px;
    padding: 1em;
    width: 45px;
    height: 45px;
    padding-top: 7px;
    border: 2px solid gray;
}

.leaflet-bar.leaflet-control-fa-button.leaflet-control > a > i {
    font-size: 16px;
}

.leaflet-bar.leaflet-control-fa-button.custom-toolbar.leaflet-control {
    border: 0;
    margin: 50px 0 0 0;
}
@media (orientation: landscape) {
    .leaflet-bar.leaflet-control-fa-button.custom-toolbar.leaflet-control {
        border: 0;
        margin: 10px 0 0 0;
    }
}

.leaflet-bar.leaflet-control-fa-button.leaflet-control > a:hover,
.leaflet-bar.leaflet-control-fa-button.leaflet-control > a:focus,
.leaflet-control-zoom.leaflet-bar.leaflet-control > a:hover {
    background: orange;
}
